<%= render "devise/shared/header" %>

<div id="password">
  <h1>Change your password</h1>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <%= devise_error_messages! %>

    <div>
      <div class="label">New password</div>
      <%= f.password_field :password, :autofocus => true, class: 'button'  %>
    </div>

    <div>
      <div class="label">Confirm new password</div>
      <%= f.password_field :password_confirmation, class: 'button' %>
    </div>

    <div><%= f.submit "Change my password", class: 'button submit' %></div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
