<%= render "devise/shared/header" %>

<div id="sign-in">
  <h1>Sign in</h1>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <div>
      <div class="label">Email</div>
      <%= f.email_field :email, :autofocus => true, class: 'button' %>
    </div>

    <div>
      <div class="label">Password</div>
      <%= f.password_field :password, class: 'button'  %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div>
        <div class="label">Remember me</div>
        <%= f.check_box :remember_me, class: 'button' %>
      </div>
    <% end -%>

    <div><%= f.submit "Sign in", class: 'button submit' %></div>
  <% end %>

</div>
<%= render "devise/shared/links" %>
